@media (max-width: 955px) and (min-width: 0px) {
  .render {
    width: 170px;
  }
}

@media (max-width: 955px) and (min-width: 591px) {
  #render-connect {
    left: 180px;
    right: 180px;
    top: 1800px;
  }
}

@media (max-width: 590px) {
  #render-connect {
   background-color: none;
  }
 } 

@media (max-width: 1060px) and (min-width: 955px) {
  .render {
    width: 250px;
  }

  #render-connect {
    left: 200px;
    right: 200px;
    top: 1800px;
  }
}
@media (min-width: 1061px) {
  .render {
    width: 330px;
  }

  #render-connect {
    left: 200px;
    right: 200px;
    top: 1905px;
  }
}

.render {
  border: 4px solid rgb(118, 159, 182);
  border-radius: 4px;
  z-index: 100;
}

#RayTracer {
 padding: 140px 0 140px 0;
 background-color: rgb(238, 238, 238);
}

.image-container {
  display: flex;
  justify-content: space-evenly;
}

#render-connect {
  background-color: rgb(118, 159, 182);
  position: absolute;
  z-index: 2;
  height: 4px;
}

.ray-para {
  margin: 80px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 27px;
}

#RayTracer p {
  width: 75%;
  padding: 0px 0px 8px 0px;
  border-bottom: 2px solid rgb(118, 159, 182);
}